body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 18px;
    background-color: white;
    margin: 0;
}

.containers {
    width: 80%;
    margin-top: 150px;
    margin-left: auto;
    margin-right: auto;
    height: 100%;
}

.container-block {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-bottom: 30px;
}

.container {
    height: 100px;
    width: 30%;
    border-radius: 5px;
    padding: 15px 0;
    transition-duration: 0.5s;
    filter: blur(1px);
}
    .container:hover {
        transform: scale(1.1);
        filter: blur(0px);
    }

.disable-blur {
    filter: blur(0px);
}


.container-inner-text {
    display: flex;
    flex-direction: row;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    height: 100%;
}

.container-inner-left {
    border-right: 1.5px solid #A9A9A9;
}

.container-inner-right {
}

.container-left-text {
    padding-top: 5px;
    padding-left: 10px;
}

.container-right-text {
    display: flex;
    flex-direction: row;
    margin-left: 5px;
}

.check-border {
    border-color: black;
    border: 1px solid;
}

.lime {
    background-color: greenyellow;
}

.blue {
    background-color: deepskyblue;
}

.orange {
    background-color: orange;
}

.container-inner-size {
    width: 50%;
    height: 100%;
}

.city-name {
    font-size: 0.9em;
    margin-top: 0;
    margin-bottom: 3px;
    font-weight: 500;
    font-family: 'Libre Franklin', sans-serif;
}

.time {
    margin-top: 2px;
    font-size: 11px;
    line-height: 1;
    color: grey;
}

.details {
    font-size: 10px;
    text-decoration: none;
    color: blue;
}

.font {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.city-name-details {
    font-size: 1.0em;
    font-weight: 600;
    margin-top: 5px;
    margin-bottom: 0px;
}

.details-container {
    height: 100px;
    width: 30%;
    border-radius: 5px;
    border: 1px solid #D3D3D3;
    margin-left: auto;
    margin-right: auto;
    background-color: #D3D3D3;
}

.date {
    margin-top: 3px;
    margin-bottom: 5px;
    font-size: 11px;
    line-height: 1;
    color: grey;
}

.temperature-degrees {
    margin-left: 30px;
    font-size: 20px;
    font-family: sans-serif;
    font-weight: 600;
}

.temperature-sign {
    margin-top: 13px;
    margin-left: 3px;
}

.sign-font {
    font-size: 14px;
    font-weight: 600;
    color: grey;
}

#back-to-home-page {
    text-align: center;
}

#back-to-home-page-ref {
    font-size: 11px;
    color: white;
    text-decoration: none;
    cursor: pointer;
}

.header {
    background-color: #D3D3D3;
    margin: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.title {
    margin-left: 50px;
}

li:hover {
    transform: scale(1.1);
    border-radius: 4px;
    background-color: Background;
}

li {
    display: inline-block;
    margin: 0px 50px;
    padding: 3px 5px;
    transition-duration: 0.5s;
}

a:active {
    color: black;
}

li > a {
    color: black;
    text-decoration: none;
}

.about-page {
    margin-left: 50px;
    color: white;
}

.title {
    font-weight: 600;
    font-size: 25px;
}

.footer-section {
    min-height: 50px;
    background: #D2D2D2;
    width: 100%;
    position: sticky;
    bottom: 0;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-text {
    font-size: 12px;
    margin: 0;
}

.content-page {
    background-image: url('https://static.vecteezy.com/system/resources/previews/006/066/678/large_2x/dark-path-in-the-forest-green-landscape-forest-background-free-photo.jpg');
    flex: 1;
    background-size: cover;
}
